# Git files not required in container
.git
.gitignore
README.md
LICENSE

# No need to copy dockerfiles either
Dockerfile
docker-compose.yml

# If the reternal started and build manually (testing), 
# don't copy the cache to container
node_modules
__pycache__/
.DS_Store



.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

/auth_config.json