.card-header {
  background-color: white;
  color: #8e8e8e;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.top-10 {
  margin-top: 10px;
}

.top-50 {
  margin-top: 50px;
}

.fullwidth {
  width: 100%;
}

.dropdown-menu {
  font-size: inherit;
}

.alert-primary {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 600px;
  z-index: 9999;
  background-color: #9d3a3a;
  border-color: white;
  color: white;
  opacity: 0.7;
}

.awesome-primary {
  color: #9e1d1d;
}

.badge-primary {
  background-color: #9e1d1d;
  border-color: #9e1d1d;
  color: white;
  &:hover {
    color: #9e1d1d;
    background-color: white;
  }
}

.badge-primary-reversed {
  background-color: white;
  color: #9e1d1d;
  &:hover {
    color: white;
    background-color: #9e1d1d;
    border-color: #9e1d1d;
  }
}

.agent-card {
  width: 100%
}

.card {
  margin-bottom: 20px;
  &.active {
    border-color: #9e1d1d;
    border-width: 2px;
  }
  .btn {
    width: 100%;
  }
}


.btn-primary{
  background-color: #9d3a3a;
  border-color: #9d3a3a;
  color: white;
  &:hover {
    color: #9d3a3a;
    background-color: white;
    border-color: #9d3a3a;
  }
}

.btn-primary-reversed {
  background-color: white;
  border-color: #9d3a3a;
  color: #9d3a3a;
  &.active {
    color: white;
    background-color: #9d3a3a;
    border-color: #9d3a3a;
  }
  &:hover {
    color: white;
    background-color: #9d3a3a;
    border-color: #9d3a3a;
  }
}